<section class="grid sm:grid-cols-2 xl:grid-cols-4 gap-4">

  <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200">
    <div class="flex text-sm text-gray-600 items-center justify-between">
      <h3>Tiendas</h3>
      <lucide-icon [img]="Store" class="size-5 stroke-[1.5]" />
    </div>

    <div class="space-y-1">
      <p class="font-medium text-xl">1 <span class="text-sm mr-2">tienda</span></p>
      <p class="text-xs text-gray-500 line-clamp-1">Último registro: Artscript</p>
    </div>
  </article>

  <!-- Usuarios en línea -->
  <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200">
    <div class="flex text-sm text-gray-600 items-center justify-between">
      <h3>Usuarios en línea</h3>
      <lucide-icon [img]="UsersRound" class="size-5 stroke-[1.5]" />
    </div>

    <div class="space-y-1">
      <p class="font-medium text-xl">32<span class="text-sm"> / 235 usuarios</span></p>
      <p class="text-xs text-gray-500 line-clamp-1">Último registrado: Daniel Sanchez</p>
    </div>
  </article>

  <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200">
    <div class="flex text-sm text-gray-600 items-center justify-between">
      <h3>Administradores</h3>
      <lucide-icon [img]="UserRoundCog" class="size-5 stroke-[1.5]" />
    </div>

    <div class="space-y-1">
      <p class="font-medium text-xl">3 <span class="text-sm">usuarios</span></p>
      <p class="text-xs text-gray-500 line-clamp-1">Último registrado: Daniel Sanchez</p>
    </div>
  </article>

  <!-- Reclamos -->
  <article class="w-full bg-white py-5 space-y-2 px-5 rounded-xl border border-gray-200">
    <div class="flex text-sm text-gray-600 items-center justify-between">
      <h3>Reclamos</h3>
      <lucide-icon [img]="TriangleAlert" class="size-5 stroke-[1.5]" />
    </div>

    <div class="space-y-1">
      <p class="font-medium text-xl">0 <span class="text-sm">reclamos</span></p>
      <p class="text-xs text-gray-500">0 este mes</p>
    </div>
  </article>


</section>
