<section class="flex flex-col h-full">

  <div class="flex items-center justify-between py-3 px-5 border-b border-b-gray-200">
    <p class="font-medium">Filtros</p>

    <button class="p-1.5 rounded-full bg-gray-50 hover:bg-gray-100">
      <lucide-icon [name]="X" class="size-5" />
    </button>
  </div>

  <div class="flex-1 px-5 py-7 space-y-7">

    <article class="gap-y-2 grid">
      <p class="text-xs font-semibold">ESTADO</p>

      <select class="rounded-lg text-sm px-4 py-2 border-gray-200">
        <option selected disabled>Seleccionar opcion</option>
        <option [value]="true">Activo</option>
        <option [value]="false">Inactivo</option>
      </select>
    </article>

    <article class="gap-y-3 grid">
      <p class="text-xs font-semibold">FECHA DE INICIO</p>
      <select name="" id="" class="rounded-lg text-sm px-4 py-2 border-gray-200">
        <option value="" selected disabled>Seleccionar opcion</option>
        <option value="1">Activo</option>
        <option value="2">Inactivo</option>
      </select>
    </article>

    <article class="gap-y-3 grid">
      <p class="text-xs font-semibold">FECHA DE FIN</p>
      <select name="" id="" class="rounded-lg text-sm px-4 py-2 border-gray-200">
        <option value="" selected disabled>Seleccionar opcion</option>
        <option value="1">Activo</option>
        <option value="2">Inactivo</option>
      </select>
    </article>

  </div>

  <div class="px-5 py-4 border-t border-t-gray-200 flex items-center gap-x-3">

    <button type="button"
      class="w-full flex items-center justify-center gap-x-2 rounded-md bg-white border border-gray-200 py-2 px-3 text-sm font-medium">
      Limpiar filtros
    </button>

    <button type="button"
      class="w-full flex items-center justify-center gap-x-2 rounded-md bg-primary text-white py-2 px-3 text-sm font-semibold">
      Aplicar
    </button>

  </div>

</section>