<article class="flex flex-col h-[100dvh]">

  <section class="py-3 px-10">
    <div class="h-10">
      <img src="/img/logo-horizontal.png" alt="Logo" class="h-full">
    </div>

  </section>

  <section class="flex-1 overflow-y-auto">
    <div class="px-5 py-3 space-y-1">
      <a
        class="px-5 py-2.5 text-sm max-sm:rounded-lg text-gray-800 sm:border-l-2 border-transparent hover:bg-gray-100 flex items-center gap-x-3 sm:gap-x-2.5"
        routerLink="/dashboard"
        routerLinkActive="text-primary max-sm:bg-gray-100 border-l-primary"
        [routerLinkActiveOptions]="{exact: true}"
        [attr.data-hs-overlay]="isMobile ? '#sidebar' : null"
      >
        <lucide-icon [name]="LayoutDashboard" class="size-4" />
        Overview
      </a>

      @for (link of links; track $index) {
        <a
          class="px-5 py-2.5 max-sm:rounded-lg text-sm text-gray-800 sm:border-l-2 border-transparent hover:bg-gray-100 flex items-center gap-x-3 sm:gap-x-2.5"
          routerLink="{{link.href}}"
          routerLinkActive="text-primary max-sm:bg-gray-100 border-l-primary"
          [attr.data-hs-overlay]="isMobile ? '#sidebar' : null"
        >
          <lucide-icon [name]="link.icon" class="size-4" />
          {{link.text}}
        </a>

      }
    </div>
  </section>

</article>